*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 110px;
    width: 240px;
}

header{
    background-color: #00000031;
    height: 120px;
    background-image: url(../img/header.jpg);
}

.header__inner{
    background-size: cover;
    box-shadow: -19px 0 22px -19px #000, 19px 0 22px -19px #000;
    height: 120px;
    display: flex;
    padding: 15px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__text{
    FONT-WEIGHT: 300;
    width: 20%;
    color: white;
}

.header__links {
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
    font-family: 'Russo One', sans-serif;
    color: white;
}

.header__worktime:before{
    background-image: url(../img/time.png);
    content: "";
    background-repeat: no-repeat;
    margin-left: -26px;
    background-size: 68%;
    width: 32px;
    height: 32px;
    position: absolute;
}

.header__worktime{
    FONT-WEIGHT: 300;
    margin-left: auto;
    color: white;
}

.header__contacts{
    margin-left: auto;
}

.header__contacts > h4{
    margin-top: 5px;
}

a[href^="mailto:"]::after {
    content: " \2709";
    margin-left: 0.5em; 
}

a[href^="tel:"]::after {
    content: "\260e";
    margin-left: 0.5em;
}

.sub-header{
    background-color: rgba(102, 102, 102, 0.795);
    height: 40px;
}

.sub-header__inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
}

.sub-header__link{
    color: white;
    font-weight: 600;
}

main{
    background-color: #fffaef;
    background-image: url(../img/103.jpg);
}

.main__inner{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    min-height: calc(100vh - 200px);
}

.left_col{
    width: 30%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fffaef;
    -webkit-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
    -moz-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
    box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
}

.main-goods{
    position: relative;
    width: 100%;
    padding: 0;
    }

.left_col .goods-category{
    display: list-item;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    position: relative;
    list-style-type: none;
}

.goods-category:hover {
    background-color: #db720f;
}

.goods-category:hover > .goods-category__sub-menu{
    display: inherit;
}

.goods-category__sub-menu > li:hover {
    background-color: #db720f;
}

.goods-category__sub-menu > li:hover > .goods-category__sub-menu{
    display: inherit;
}

.goods::after{
    background-image: url(../img/arrow.svg);
    content: "";
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
}

.goods-category__sub-menu{
    display: none;
    padding: 10px;
    width: 260px;
    position: absolute;
    left: 96%;
    top: -3px;
    background-color: #fffaef;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.089);
    -moz-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
    box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.788);
    list-style-type: none;
    z-index: 1;
}

.goods{
    text-transform: uppercase;
    display: block;
}

.goods:hover{
    background-color: #db720f;
    color: white;
    padding: 0;
}

.left_col b{
    border-bottom: 1px solid #b2b2b2;
}

.right_col{
    width: 68%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fffaef;
    -webkit-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
    -moz-box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
    box-shadow: 0px 15px 25px 6px rgba(112, 122, 129, 0.2);
}

.goods-button{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #db720f;
    color: #fff;
    float: right;
    border: none;
}

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    bottom: 0;
}

footer div{
    height: 80px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 950px){
    .header__text{
        display: none;
    }

    .header__worktime{
        display: none;
    }

    .goods-category::after{
        display: none;
    }
}